.hardware{background-image:url(images/hardware.jpg);
     background-attachment: fixed;
    background-position: center;
    height:100%; 
    background-repeat: no-repeat;
    background-size: cover;

}

.software{background-image:url(images/software.jpg);
     background-attachment: fixed;
    background-position: center;
    height:100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.appinventor{background-image:url(images/appinventor.png);
     background-attachment: fixed;
    background-position: center;
    height:100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.html{background-image:url(images/html.png);
     background-attachment: fixed;
    background-position: center;
   height:100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.css{background-image:url(images/cascadingstylesheet.jpg);
     background-attachment: fixed;
    background-position: center;
    height:100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.javascript{background-image:url(images/java-script.jpg);
    background-attachment: fixed;
    background-position: center;
    height:100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.congrats{background-image:url(images/confetti.gif);
    
}




#headinghardware, #headingcss {
    font-family:Verdana;
    color:orange;
     font-size:16px;
}

#headingsoftware {
    font-family:Verdana;
    color:white;
     font-size:16px;
}

#headingappinventor {
    font-family:Verdana;
    color:black;
     font-size:16px;
}

#headinghtml {
    font-family:Verdana;
    color:blue;
     font-size:16px;
}

#headingjavascript {
    font-family:Verdana;
    color:brown;
     font-size:16px;
}
    
#paragraphhardware, #paragraphcss  {
    font-family:Verdana;
    color:orange;
     font-size:16px;
}

#paragraphsoftware {
    font-family:Verdana;
    color:white;
     font-size:16px;
    
}

#paragraphappinventor {
    font-family:Verdana;
    color:black;
     font-size:16px;
}

#paragraphhtml {
        font-family:Verdana;
    color:blue;
     font-size:16px;

}

#paragraphjavascript {
        font-family:Verdana;
    color:brown;
     font-size:16px;

}

#paragraphff, #headingff {
    font-family:Verdana;
    text-align:center;
    color:white;
     font-size:16px;
}
body {
    background-color: powderblue;
}

